@model IEnumerable<MVC4Khumalo.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<style>
    .orange-text {
        color: orange;
    }
</style>

<h1 class="orange-text">Index</h1>

<p>
    <a asp-action="Create" class="orange-text">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="orange-text">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="orange-text">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="orange-text">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th class="orange-text">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th class="orange-text">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="orange-text">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="orange-text">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="orange-text">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="orange-text">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <img src="@item.ImageUrl"
                         width="400"
                         height="400" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="orange-text">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="orange-text">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="orange-text">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

